body {
    font-family: "Times New Roman";
    background: beige;
    padding: 30px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    margin-top: 15px;
}

/* ---- Fake Login ---- */
#fakeLogin {
    position: fixed;
    top: 40%;
    right: -300px;
    width: 250px;
    background-color: #ffefc4;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: right .5s ease-in-out;
}

#loginTab {
    position: fixed;
    top: 40%;
    right: 0;
    background: gray;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px 0 0 10px;
}